:root {
  --action-color: #68e1ff82;
  --normaltext-color: #000000;
  --text-color: #09193c;
  --background-color: white;
  --border: 2px solid #00ffff;
  --font-size: 1.1rem;
  --shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

body {
  background: linear-gradient(135deg, #e8f5fe, #b1fffc);
  /*  */
  font-family: 'ABCDiatype', sans-serif, cursive, serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.loginMenu {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  text-align: center;
}

.loginHeading {
  color: #273b6b;
  font-size: 24px;
  font-family: 'ABCDiatype', sans-serif, cursive;
  font-weight: 100;
  margin-bottom: 20px;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 360px;
  backdrop-filter: blur(20px);
  margin: 0 auto 0px;
  padding: 45px;
  text-align: center;
  border-radius: 17px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 3px solid #91d0ff;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: none;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 10px;
}

.form input:focus {
  border-color: #3498db;
}

button {
  margin-top: 10px auto;
  text-transform: uppercase;
  outline: 0;
  background: #e1fffe;
  width: 100%;
  border: 0;
  padding: 13px;
  color: #11222f;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'ABCDiatype';
  border-radius: 10px;
  transition: background-color 0.1s;
  cursor: pointer;
  border: 2px solid #66ffeb;
}

button:hover,
.form button:active,
.form button:focus {
  background-color: #000000;
  color: rgb(253, 219, 150);
  border: none;
  border: 2px solid #ffffff;
}


.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #696969;
  text-decoration: none;
}

.form .registerForm {
  display: none;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}